<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086660170841-e5rfipfumvfgl29ut92dekhfgrnk5apd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086660170841-e5rfipfumvfgl29ut92dekhfgrnk5apd</string>
	<key>API_KEY</key>
	<string>AIzaSyAXCKLzI22Mh5YQMUnQMbtP1kJXzmjDpMk</string>
	<key>GCM_SENDER_ID</key>
	<string>1086660170841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkay.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-71948</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-71948.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086660170841:ios:1eee149899f4e002f84d48</string>
</dict>
</plist>